@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  background: #B71C1C;
}


#editor {
  margin-top: 4%;
  height: 100vh;
  width: 47%;
  border: 3px solid black;
  float: left;
  background: #FFEBEE;
}

#preview {
  margin-top: 4%;
  float: right;
  height: 100%;
  width: 50%;
  color: white;
}